In [62]:
import pandas as pd
import pickle
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [63]:
acquirers = pd.read_excel('acquirers.xlsx')

In [64]:
bank_names = pd.read_csv('bank_names.csv')

In [65]:
acquirers.shape

(92, 4)

In [66]:
bank_names.head()

   Unnamed: 0                            bank_names
0           0              STATE STREET CORPORATION
1           1  AUBURN NATIONAL BANCORPORATION, INC.
2           2                             RBC, INC.
3           3        PHENIX-GIRARD BANCSHARES, INC.
4           4    MERCHANTS FINANCIAL SERVICES, INC.

In [67]:
choices = bank_names['bank_names']
len(choices)

4103

In [68]:
test = process.extract(acquirers['Acquirer Name'][0], choices, limit=10)
test

[('CHEMICAL FINANCIAL CORPORATION', 90, 164),
 ('MERCHANTS FINANCIAL SERVICES, INC.', 86, 4),
 ('MIDDLEFORK FINANCIAL GROUP INC.', 86, 60),
 ('COMMUNITY FINANCIAL SERVICES, INC. EMPLOYEE STOCK OWNERSHIP PLAN', 86, 62),
 ('PEOPLES FINANCIAL CORPORATION', 86, 74),
 ('FARMERS STATE FINANCIAL CORP.', 86, 76),
 ('CHEMUNG FINANCIAL CORPORATION', 86, 103),
 ('TOMPKINS FINANCIAL CORPORATION', 86, 104),
 ('FINANCIAL INSTITUTIONS, INC.', 86, 110),
 ('ORRSTOWN FINANCIAL SERVICES, INC.', 86, 114)]

In [69]:
df = pd.DataFrame()
df['acquirers'] = acquirers['Acquirer Name']
df

                     acquirers
0           Chemical Financial
1              First Merchants
2                   Plaza Bank
3           Cathay Gen Bancorp
4          Unitedmmunity Banks
..                         ...
87           Charter Financial
88                BBCN Bancorp
89               BOK Financial
90  Franklin Financial Network
91          Pacificmmerce Bank

[92 rows x 1 columns]

In [70]:
df[0] = None
df[1] = None
df[2] = None
df[3] = None
df[4] = None
df[5] = None
df[6] = None
df[7] = None
df[8] = None
df[9] = None
df

,acquirers,0,1,2,3,4,5,6,7,8,9
0,Chemical Financial,None,None,None,None,None,None,None,None,None,None
1,First Merchants,None,None,None,None,None,None,None,None,None,None
2,Plaza Bank,None,None,None,None,None,None,None,None,None,None
3,Cathay Gen Bancorp,None,None,None,None,None,None,None,None,None,None
4,Unitedmmunity Banks,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
87,Charter Financial,None,None,None,None,None,None,None,None,None,None
88,BBCN Bancorp,None,None,None,None,None,None,None,None,None,None
89,BOK Financial,None,None,None,None,None,None,None,None,None,None
90,Franklin Financial Network,None,None,None,None,None,None,None,None,None,None
91,Pacificmmerce Bank,None,None,None,None,None,None,None,None,None,None

In [71]:
[test[i][0] for i in range(len(test))]

['CHEMICAL FINANCIAL CORPORATION',
 'MERCHANTS FINANCIAL SERVICES, INC.',
 'MIDDLEFORK FINANCIAL GROUP INC.',
 'COMMUNITY FINANCIAL SERVICES, INC. EMPLOYEE STOCK OWNERSHIP PLAN',
 'PEOPLES FINANCIAL CORPORATION',
 'FARMERS STATE FINANCIAL CORP.',
 'CHEMUNG FINANCIAL CORPORATION',
 'TOMPKINS FINANCIAL CORPORATION',
 'FINANCIAL INSTITUTIONS, INC.',
 'ORRSTOWN FINANCIAL SERVICES, INC.']

In [72]:
results = []

In [73]:
for i in range(len(acquirers)):
    result = process.extract(acquirers['Acquirer Name'][i], choices, limit=10)
    results.append(result)

In [74]:
results[91][0][0]

'GREAT PLAINS BANK CORPORATION'

In [75]:
for i in range(len(results)):
    for j in range(9):
        df[j][i] = results[i][j][0]

In [76]:
df

,acquirers,0,1,2,3,4,5,6,7,8,9
0,Chemical Financial,CHEMICAL FINANCIAL CORPORATION,"MERCHANTS FINANCIAL SERVICES, INC.",MIDDLEFORK FINANCIAL GROUP INC.,"COMMUNITY FINANCIAL SERVICES, INC. EMPLOYEE ST...",PEOPLES FINANCIAL CORPORATION,FARMERS STATE FINANCIAL CORP.,CHEMUNG FINANCIAL CORPORATION,TOMPKINS FINANCIAL CORPORATION,"FINANCIAL INSTITUTIONS, INC.",None
1,First Merchants,FIRST MERCHANTS CORPORATION,"MERCHANTS FINANCIAL SERVICES, INC.","FIRST VERNON BANCSHARES, INC.","COMMUNITY FIRST BANCSHARES, INC.","FIRST COMMUNITY BANCORP, INC","FIRST NATIONAL BANCORP, INC.","FIRST KEYES BANCSHARES, INC.","MERCHANTS AND FARMERS BANCSHARES, INC.",FIRST FOREST CORPORATION,None
2,Plaza Bank,BANK OF THE OZARKS INC,MADISON BANK CORP.,UNITED BANK CORPORATION,CENTURY BANK CORP.,GREAT PLAINS BANK CORPORATION,M&T BANK CORPORATION,"MILLBROOK BANK SYSTEM, INC.",DEUTSCHE BANK AKTIENGESELLSCHAFT,"BANK OF NEW YORK MELLON CORPORATION, THE",None
3,Cathay Gen Bancorp,CATHAY GENERAL BANCORP,"CITIZENS BANCORP OF WINFIELD, INC.","FARMERS DEPOSIT BANCORP, INC.","MORGANTOWN DEPOSIT BANCORP, INC.","FIRST COMMUNITY BANCORP, INC","FIRST NATIONAL BANCORP, INC.","INTER-MOUNTAIN BANCORP., INC.","PEOPLES COMMERCIAL BANCORP, INC.","MERCER COUNTY STATE BANCORP, INC.",None
4,Unitedmmunity Banks,"BRANNEN BANKS OF FLORIDA, INC.","INDEPENDENT ALLIANCE BANKS, INC.","FLORIDA FIRST CITY BANKS, INC.","UNIVERSITY FINANCIAL CORP, GBC DBA SUNRISE BANKS","CITYWIDE BANKS OF COLORADO, INC.","COMMUNITY BANKS OF GEORGIA, INC.","UNITED COMMUNITY BANKS, INC.","UNITED COMMUNITY BANCORP, INC.","UNITED COMMUNITY BANCSHARES, INC.",None
...,...,...,...,...,...,...,...,...,...,...,...
87,Charter Financial,"MERCHANTS FINANCIAL SERVICES, INC.",MIDDLEFORK FINANCIAL GROUP INC.,"COMMUNITY FINANCIAL SERVICES, INC. EMPLOYEE ST...",PEOPLES FINANCIAL CORPORATION,FARMERS STATE FINANCIAL CORP.,CHEMUNG FINANCIAL CORPORATION,TOMPKINS FINANCIAL CORPORATION,"FINANCIAL INSTITUTIONS, INC.","ORRSTOWN FINANCIAL SERVICES, INC.",None
88,BBCN Bancorp,"BBCN BANCORP, INC.",CNB BANCORP,BNC BANCORP,CBB BANCORP,PBB BANCORP,RBB BANCORP,"CITIZENS BANCORP OF WINFIELD, INC.","CENTURY BANCORP, INC.",TRI-COUNTY BANCORP.,None
89,BOK Financial,BOK FINANCIAL CORPORATION,"MERCHANTS FINANCIAL SERVICES, INC.","SOLON FINANCIAL, INC.",MIDDLEFORK FINANCIAL GROUP INC.,"COMMUNITY FINANCIAL SERVICES, INC. EMPLOYEE ST...",PEOPLES FINANCIAL CORPORATION,FARMERS STATE FINANCIAL CORP.,CHEMUNG FINANCIAL CORPORATION,TOMPKINS FINANCIAL CORPORATION,None
90,Franklin Financial Network,"FRANKLIN FINANCIAL NETWORK, INC.","COMMUNITY FINANCIAL SERVICES, INC. EMPLOYEE ST...","PEOPLES FINANCIAL CORP. OF ILLINOIS, INC.",SOUTHWEST GEORGIA FINANCIAL CORPORATION,NEW MEXICO NATIONAL FINANCIAL INCORPORATED,"GRIFFITH FAMILY FINANCIAL HOLDINGS, L.L.C.",CITIZENS FINANCIAL CORPORATION EMPLOYEE STOCK ...,CUMBERLAND VALLEY FINANCIAL CORPORATION,"REYNOLDS, TEAGUE, THURMAN FINANCIAL CORP.",None
91,Pacificmmerce Bank,GREAT PLAINS BANK CORPORATION,DEUTSCHE BANK AKTIENGESELLSCHAFT,"BANK OF NEW YORK MELLON CORPORATION, THE",BLISSFIELD BANK CORPORATION,"LEACKCO BANK HOLDING COMPANY, INC.",EMPLOYEE STOCK BONUS TRUST FOR THE EMPLOYEES O...,"NORTHEASTERN WYOMING BANK CORPORATION, INC.",SUNDANCE STATE BANK PROFIT SHARING AND EMPLOYE...,CABOOL STATE BANK EMPLOYEE STOCK OWNERSHIP PLAN,None

In [77]:
with open('q5 answer.pickle', 'wb') as handle:
    pickle.dump(df, handle)